<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssignNova.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
				<key>dateExpires</key>
				<string>2024-03-20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AEOTPTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EmptyDataSet_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheck.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFunctions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessagingInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorageUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>12.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GeoFire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LetterAvatarKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeApplePay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>23.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>23.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>23.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePayments.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>23.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentsUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>23.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeUICore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>23.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20211102.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>uv.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>394A782AD3AB9116E63F5048BB60CD941287EACF</string>
						<key>dateExpires</key>
						<string>2024-03-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>L9Z24WLH63.com.techtoids.assignnova.siri</string>
						<key>com.apple.developer.team-identifier</key>
						<string>L9Z24WLH63</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>L9Z24WLH63.com.techtoids.assignnova.shared</string>
						</array>
					</dict>
					<key>name</key>
					<string>Siri.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>d1725931-8af8-40f9-a72d-03c30b8fdf99</string>
						<key>dateExpires</key>
						<string>2024-04-13</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.techtoids.assignnova.siri</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L9Z24WLH63</string>
						<key>name</key>
						<string>Darshan Jain</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L9Z24WLH63.com.techtoids.assignnova</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.techtoids.assignnova</string>
				</array>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>L9Z24WLH63</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>L9Z24WLH63.com.techtoids.assignnova.shared</string>
				</array>
			</dict>
			<key>name</key>
			<string>AssignNova.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6201ee8c-bb95-4214-aa55-c7db8d80402a</string>
				<key>dateExpires</key>
				<string>2024-04-13</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.techtoids.assignnova</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L9Z24WLH63</string>
				<key>name</key>
				<string>Darshan Jain</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
