<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426429803905-f3cbdr26lul652h69asv6bpm17ru45q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426429803905-f3cbdr26lul652h69asv6bpm17ru45q4</string>
	<key>API_KEY</key>
	<string>AIzaSyDP7oReCvzqncISxD2kWq2IforlvvRd6Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>426429803905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techtoids.assignnova</string>
	<key>PROJECT_ID</key>
	<string>assignnova</string>
	<key>STORAGE_BUCKET</key>
	<string>assignnova.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426429803905:ios:7d367b64530e8f1bc00c80</string>
</dict>
</plist>